@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



@import "media"; // Always at the end

.header{
	position: relative;
	&__top-row{
		padding: 15px 0;
		background-color: #000;
		width: 100%;
		display: flex;
		align-items: center;
		&__left{

			a {
				color: $yellow;
				.fa-chevron-right {

					transition: all .3s;
				}
				&:hover {
					text-decoration: none;
					.fa-chevron-right {
						margin-left:15px;

					}
				}
			}
		}
		&__right{
			.secondary_menu{
				ul{
					display: flex;
					padding: 0;
					justify-content: flex-end;
					margin-bottom: 0;
					li{
						list-style: none;
						display: flex;
						align-items: center;
						a{
							color: #fff;
							font-weight: bold;
							padding: 0 10px;
							position: relative;
							&:after{
								content: "";
								position: absolute;
								height: 1px;
								width: 100%;
								background-color: #fff;
								left: 0;
								bottom: -2px;
								transform: scaleX(0);
								transition: all .3s;
							}
							&:hover{
								text-decoration: none;
								&:after{

									transform: scaleX(1);
								}
							}
						}
					}
				}

			}
		}
	}
	&__bottom-row{
		padding-right: 15px;
		width: 100%;
		position: absolute;
		min-height: 80px;
		background-color: rgba(0,0,0,0.5);
		&__left{
padding-left: 15px;
		}
		&__right{
			display: flex;
			align-items: center;
			.main_menu{
				ul{
					padding-left: 0;
					display: flex;
					margin-bottom: 0;
					li{
						display: flex;
						align-items: center;
						list-style: none;
						a{
							padding: 0 20px;
							color: #fff;
							font-size: 16px;
							position: relative;
							&:after{
								content: "";
								position: absolute;
								height: 1px;
								width: 100%;
								background-color: #fff;
								left: 0;
								bottom: -2px;
								transform: scaleX(0);
								transition: all .3s;
							}
							&:hover{
								text-decoration: none;
								&:after{

									transform: scaleX(1);
								}
							}

						}
					}
				}
				.main-menu-call{
					display: none;

					@media (max-width: 990px){
						display: block;
						width: 30px;
						height: 30px;
						background-color:rgba(0,0,0,.8);
						position: relative;
						border: none;
						&_opened{
							&:after{
								top: 50% !important;
								transform:   translateY(-50%) rotate(45deg);

							}
							&:before{

								bottom:50% !important;
								transform:   translateY(50%) rotate(-45deg);
							}
						}
						&:after{
							transition: all .3s;
							content: "";
							background-color: #fff;
							width: 100%;
							height: 4px;
							position: absolute;
							top: 7px;

							left: 0;
						}
						&:before{
							transition: all .3s;
							content: "";
							background-color: #fff;
							width: 100%;
							height: 4px;
							position: absolute;
							bottom: 7px;

							left: 0;
						}
					}

				}

			}
		}


	}
}
.homepage-banner{

	min-height: 600px;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.text-block{
		background-color: rgba(0,0,0,.8);
		padding: 60px 30px 30px 30px;
		&__heading{
			h1{
				color: #fff;
				span{
					color: $yellow;
				}
			}

		}
		&__btn{

			margin-top: 20px;
			color:#000;
			display: inline-block;
			background-color: $yellow;
			position: relative;
			padding: 15px 40px 15px 25px;
			font-family: $helvetica;
			font-weight: bold;
			&:hover{



				&:after{
					right: 10px;
				}
			}
			&:after{
				content: "\f054";
				font-family: FontAwesome;
				position: absolute;
				font-weight: 100;
				right: 20px;
				transition: all .3s;
			}

		}
	}
}

	.find-franchise{
		background-color: $yellow;
		&__map{
			background-image: url("../img/_src/map_icon.svg");
			width: 40px;
			background-position: center;
			background-repeat: no-repeat;
		}
		&__text{
			margin: 0 25px;
		}
		&__form{
			display: flex;
			align-items: center;
		}
	}
 .services{
	  &__header{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		  h2{text-align: center;
			  color: $red;
		  }
		  p{text-align: center;}
	  }
	  .services-items{
		  .services-item{
			  display: flex;
			  justify-content: center;
			  flex-direction: column;
			  align-items: center;
			  &__icon{}
			  &__heading{}
			  &__text{}
		  }
	  }
	  &__show-all{
		  margin: 0 auto;
		  padding: 20px 50px;
		  border: none;
	  }
  }







.services2{
	&__header{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h2{text-align: center;
			color: $red;
		}
		p{text-align: center;}
	}
	.services2-items{
		.services2-item{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			&__image{
				max-width: 100%;
			}
			&__heading{}
			&__text{
				background-color: $yellow;
				color: #000;
				text-align: left;
				display: block;
				width: 100%;
				padding-left: 15px;
				font-weight: bold;
			}
		}
	}
	&__show-all{
		margin: 0 auto;
		padding: 20px 50px;
		border: none;
	}
}

.testimonials{
	background-color: #f7f8f8;
	padding: 100px 0;
	&__item{
		position: relative;
	}
	&__text{
		background-color: #ffffff;
	}
	&__legend{
		float: right;
	}
}

.posts-on-main{
	&__item{

	}
	&__header{
		position: relative;
		display: block;
	}
	&__image{
	max-width: 100%;
	}
	&__date{
		background-color: $yellow;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__month{}
	&__day{}
	&__heading{}
	&__text{}
	&__read-more{}

	&__footer{}
	&__show-more{

	}
}


.footer {
	.footer__top-row {
		background-color: $red;
	}

	&__gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__gallery-item {
		margin-bottom: 15px;
		border: 1px solid #fff;
		display: block;
		height: 125px;
		width: 125px;

		img {
			max-width: 100%;
		}
	}

	.footer__bottom-row {
		&__left{
			p{
				font-size: 12px;
			}
		}
		&__right{
			ul{
				display: flex;
				li{
					a{
						position: relative;
						&:after{
							content: " ";
							position: absolute;
							height: 1px;
							width: 100%;
							background-color: #fff;
							left: 0;
							bottom: -2px;
						}
					}
				}
			}
		}
		background-color: #000;

	}
}

